.pf__about .pf__about__parallax {
  overflow: hidden;
}

.pf__about__parallax_intro, .pf__about__parallax_intro_second  {
  margin: 5rem 0 0 0rem;
  padding: 2rem 0 0 0;
  z-index: 1;
}

.introduction p {
  color: var(--color-grey-dev);
  font-family: var(--font-roboto);
  font-weight: 800;
  font-size: 2rem;
  z-index: 1;
}

.pf__about__parallax_intro p:first-child,
.pf__about__parallax_intro_second p:nth-child(2){
  font-size: 5rem;
}

.pf__about__parallax_intro p:nth-child(2) {
  unicode-bidi: embed;
}

.firstCn {
  margin-top: 4rem;
}

.marked {
  color: var(--color-raddish);
}

.pf__about__parallax_gold_start {
  background: var(--color-gold);
  z-index: -1;
  width: 100%;
  height: 100%;
  clip-path: polygon(60% 0, 100% 0, 50% 100%, 10% 100%);
}

.main {
  width: 30%;
  margin-left: 50%;
  margin-top: 10%;
  opacity: 0.95;
}

.main img {
  width: 100%;
}

.pf__about__parallax_grey {
  background: #20232F;
  z-index: -1;
  width: 100%;
  height: 100%;
  clip-path: polygon(70% 0, 100% 0, 70% 100%, 35% 100%);
}

.pf__about__parallax_white {
  background: var(--color-white);
  z-index: -1;
  width: 100%;
  height: 100%;
  clip-path: polygon(10% 0, 30% 0, 50% 100%, 90% 100%);
}

.pf__about__parallax_rus {
  background: #EA4F4F;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  clip-path: polygon(40% 0, 70% 0, 30% 100%, 0% 100%);
}

.pf__about__parallax_rus img {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}
.pf__about__parallax_il img {
  width: 105%;
  opacity: 0.9;
  margin-left: 20%;
  margin-top: 26%;
}

.pf__about__parallax_il {
  background: #1F53B9;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
  clip-path: polygon(65% 0, 90% 0, 50% 100%, 25% 100%);
}

.pf__about__parallax_white_final {
  background: var(--color-white);
  z-index: -1;
  width: 100%;
  height: 100%;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 20% 100%);
}

.pf__about__contact {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}

.pf__about_contact__easteregg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.pf__about_contact__easteregg p {
  color: var(--color-grey-dark);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
}

.pf__about_contact__easteregg h3 {
  color: var(--color-grey-dark);
  font-family: var(--font-roboto);
  font-size: 2rem;
}

.pf__about_contact__easteregg img {
  width: 8%
}

.circle {
  margin-top: 100vh;
}

.circle img {
  width: 50%;
  margin-top: -20%;
  margin-left: 35%;
}

.whiteball {
  width: 10vw;
}

.whiteball img {
  width: 20%;
  margin-top: 4%;
  margin-left: 30%;
}

.cat5 img {
  width: 250px;
  margin-top: 90vh;
  margin-left: 90%;
}

.cat6 {
  width: 20vw;
}

.cat6 img {
  width: 10%;
  margin-top: 8%;
  margin-left: 20%;
}

.cat1 img {
  width: 250px;
  margin-top: 70vh;
  margin-left: 180%;
}

.cat2 img {
  width: 220px;
  margin-top: 60vh;
  margin-left: 180%;
}

@media screen and (max-width: 1540px){
  .pf__about__parallax_rus img {
    width: 100%;
    margin-left: 30%;
    opacity: 0.6;
  }
  .pf__about__parallax_il img {
    width: 205%;
    opacity: 0.5;
    margin-left: -20%;
    margin-top: 50%;
  }
  .main {
    width: 40%;
    margin-left: 50%;
    margin-top: 10%;
  }

  .main img {
    width: 100%;
  }
}

@media screen and (max-width: 1040px){
  .main {
    width: 70%;
    margin-top: 20%;
    margin-left: 45%;
    opacity: 0.85;
  }
}

@media screen and (max-width: 680px) {
  .pf__about__parallax_intro, .pf__about__parallax_intro_second {
    margin: 5rem 0 0 0rem;
    padding: 0;
  }
  .introduction p {
    font-size: 16px;
  }
  .firstCn {
    margin: 3.5rem 0 0 0rem;
    padding: 0;
  }
  .pf__about__parallax_intro p:first-child,
  .pf__about__parallax_intro_second p:nth-child(2) {
    font-size: 40px;
  }
  .pf__about__parallax_rus img {
    width: 150%;
    margin-left: 15%;
  }
  .pf__about__parallax_il img {
    width: 205%;
    margin-top: 100%;
  }
  .cat1 img {
    width: 140px;
    margin-top: 70vh;
    margin-left: 160%;
  }
  .cat2 img {
    width: 120px;
    margin-top: 80vh;
    margin-left: 200%;
  }
  .main {
    width: 100%;
    margin-left: 35%;
    margin-top: 30%;
  }
  .cat5 img {
    width: 150px;
    margin-top: 82vh;
    margin-left: 75%;
  }
  .pf__about_contact__easteregg p {
    font-size: 16px;
  }
  .pf__about_contact__easteregg h3 {
    font-size: 24px;
  }
  .pf__about__contact {
    margin-top: 1rem;
  }
}
