.pf__cv__pdf {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 35%;
  height: 70vh;
}

@media screen and (max-width: 1416px) {
  .pf__cv__pdf {
    top: 600px;
    left: 2%;
    width: 70%;
    height: 40vh;
  }
}

@media screen and (max-width: 710px) {
  .pf__cv__pdf {
    top: 40%;
    height: 60vh;
  }
}

@media screen and (max-width: 650px) {
  .pf__cv__pdf {
    top: 40%;
    height: 25vh;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .pf__cv__pdf {
    top: 40%;
  }
}
