.pf__cv {
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: url(../../assets/bg.png);
  background-size: cover;
  scale: 1.1;
}

.pf__cv__pdf {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 35%;
  height: 70vh;
}

.pf__cv__button a:hover p{
  background: linear-gradient(90deg, #E76146,#E76146,#E76146, #fb0094, #0000ff, #0000ff, #00ff00, #00ff00, #ffff00, #ffff00);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  filter: blur(.5px);
  animation: flush .5s linear 1;
}

.pf__cv__button p {
  font-family: var(--font-roboto);
  color: var(--color-grey-verydark);
  font-size: 64px;
  font-weight: 900;
}

.contact {
  z-index: 100;
}

.bg {
  height: 100vh;
  width: 100%;
}

@keyframes flush {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 1416px) {
  .pf__cv__pdf {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .pf__cv__button a:focus p{
    background: linear-gradient(90deg, #E76146,#E76146,#E76146, #fb0094, #0000ff, #0000ff, #00ff00, #00ff00, #ffff00, #ffff00);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    filter: blur(.5px);
    animation: flush .3s linear 1;
  }
  .pf__cv__button p {
    font-size: 40px;
  }
}
