* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
}

a {
  text-decoration: none;
  color: unset;
}

.section__padding {
  padding: 2rem 4rem;
}

.section__margin {
  margin: 2rem 4rem;
}
